extends layouts/main-layout.pug

block content
    //hata mesajı: sohbet mevcut değil veya onu görüntüleme izniniz yok.
    if errorMessage
        span.errorMessage #{errorMessage}
    else
        script.
            var chatId = '!{chat._id}';

            //sohbet sayfası ögelerini tanımlama:
        .chatPageContainer
            .chatTitleBarContainer
                +createChatImage(chat, userLoggedIn)
                span#chatName(data-toggle="modal", data-target="#chatNameModal")

            .mainContentContainer
                // mesajlar kısmına girince hemen yüklenmemesi durumunda:
                .loadingSpinnerContainer
                    img(src="/images/loadingSpinner.gif", alt="Loading spinner")
                .chatContainer(style="visibility: hidden", data-room=chat._id)
                    ul.chatMessages

                    .typingDots
                        img(src="/images/dots.gif", alt="Typing dots")

                        //mesajlaşma kısmındaki mesaj yazma kısmı:
                    .footer
                        textarea.inputTextbox(name="messageInput", placeholder="Bir mesaj yazın...")
                        button.sendMessageButton
                            i.fas.fa-paper-plane
        +createChatNameModal(chat)

block scripts
    script(src="/js/chatPage.js")
